html {
  font-size: 14px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}

label {
  font-size: 1rem;
  white-space: nowrap;
}

.category-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.category-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition:
    background-color 0.3s,
    font-weight 0.3s;
  flex: 1 1 100px;
}

.category-buttons button:hover {
  background-color: #f0f0f0;
}

.category-buttons button.active {
  font-weight: bold;
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 1.125rem;
  }

  .category-buttons {
    gap: 1rem;
  }

  .category-buttons button {
    font-size: 1.125rem;
    flex: 1 1 150px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  body {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
  }

  label {
    font-size: 1.25rem;
  }

  .category-buttons button {
    font-size: 1.25rem;
    flex: 1 1 200px;
  }
}
